body    {
    margin: 0;
    
}

html  {
    font-family: 'Quicksand', sans-serif;
    
  }

.navbar1 {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    height: auto;
    padding: 15px;
  }

  .navlink  {
    font-size: 16px;
    padding: 0 25px;
    text-align: center;
    
  }

  .navlinkr {
      font-size: 16px;
      padding: 0 5px;
      
  }

    .leftside,
    .rightside {
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

.baseballnavlogo    {
    height: 50px;
    margin-top: 10px;

}

a   {
    text-decoration: none;
    color: darkcyan;
}

a:hover {
    color: lime;
}

.mainimg {
    background-image: url(../img/moutainsunset.jpg);
    display: flex;
    background-position: center center; 
    object-fit: contain;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    
  }

  .mainimg:before {
    background-color: black;
    height: 100%;
    width: 100%;
    content: "";
    opacity: 0.2;
    position: absolute;
    display: block;
}

  .relative {
    position: relative;
  }

  .textarea {
    position: absolute;
    text-align: center;
    width: 45%;
    
  }

  .title {
    font-size: 14px;
    color: white !important;
    text-shadow: 0px 2px 2px #000;
    margin: 0;
    
  }
  
  .sub {
    font-size: 18px;
    color: white !important;
    text-shadow: 2px 2px 2px #000;
    margin: 0;
    
  }

  .main-grid  {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    background-color: #e8e9ea;
    padding: 20px;
    margin-bottom: 75px;
  }
  
  
  
  .main-grid-item {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 65vh;
    object-fit: contain;
  }
  
  .main-image {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    position: relative;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  p {
      font-size: 16px;
      text-align: left;
      padding-left: 25px;
      padding-right: 25px;
      font-weight: bold;
  }

  .myprojects   {
      font-size: 36px;
      color: black;
      text-align: center;
      margin-top: 75px;
      margin-bottom: 75px;
  }

  .projectinfo  {
    color: gray;
    padding-left: 5px;
}

.main-flex  {
  display: flex;
  flex-direction: column;
}

.jobhistory {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: white;
  opacity: 70%;
  padding: 25px;
  margin:  25px;
  border-radius: 10px;
  
}

.jobhistbackground  {
  background-image: url(../img/darkboard.jpg);
  background-position: center center; 
  background-size: auto;
  height: auto;

  }


    .contactmebackground  {
      background-image: url(../img/grayscalesonarmy.png);
      display: flex;
      flex-direction: column;
      background-position: center center; 
      background-size: cover;
      justify-content: space-evenly;
      height: 175vh;
      width: auto;
      align-items: center;
      
      }

      .contactmebackground:before {
        background-color: black;
        height: 175vh;
        width: 100%;
        content: "";
        opacity: 0.4;
        position: absolute;
        display: block;
    }
  
    a[href^=tel] {
      text-decoration: inherit;
      color: inherit;
      }

      .phonenumber  {
        font-size: 14px;
      }
    
.education  {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  font-size: 16px;
  margin: 10px;
}


.edli {
  list-style-type: none;
  font-size: 16px;
  padding: 25px;
}

.gradpic  {
  height: 200px;
  width: 300px;
  margin: 25px;
  border-radius: 50%;
}

.gradpicflex  {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}



.footerlinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #434C56;
    color: white;
    margin: 0;
    padding: 0;
    height: auto;
    bottom: 0;
    
  }

  .footerlinks2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    height: auto;
    bottom: 0;
    
  }

  li    {
      list-style-type: none;
      font-size: 28px;
      padding: 25px;
      
  }

  .workicon {
    height: 80px;
    width: 80px;
    
  }

  .workicon1 {
    height: 100px;
    width: 150px;
    
  }

  .icons    {
      color: white;
      font-size: 28px;
  }

  .icons2    {
    color:black;
}



  #signature    {
    font-family: 'Kristi', cursive;
    font-size: 24px;
    color: white;
    background-color: #434C56;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  #signature2    {
    font-family: 'Kristi', cursive;
    font-size: 24px;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .bridgecafe {
    background-image: url(../img/BridgeCafeSnippet.png);
  }
  
  .giphy {
    background-image: url(../img/GiphySnippet.png);
  }
  
  .codepen {
    background-image: url(../img/codepensnippet2.png);
  }

  @media screen and (min-width: 1025px)  {
      .mainimg  {
          height: 100vh;
      }

      .textarea {
          width: 50%;
          
      }

      .textarea2  {
          font-size: 24px;
          color: white;
          text-shadow: 2px 2px 2px #000;
      }

      .title    {
          font-size: 28px;
          text-align: center;
      }

      .sub  {
          font-size: 58px;
      }

      .navbar1  {
          height: 40px;
      }

      .leftside  {
          flex-direction: row;
          
      }

      .rightside    {
          flex-direction: row;
          justify-content: space-evenly;
          
      }

      .navlink  {
        font-size: 24px;
      }

      .navlinkr {
          font-size: 32px;
          
      }

      .main-grid {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .myprojects   {
          font-size: 58px;
      }

      p {
          font-size: 24px;
          
         
      }

      #signature {
          font-size: 42px;
          text-align: end;
      }

      #signature2 {
        font-size: 42px;
        text-align: end;
    }

      .footerlinks  {
          flex-direction: row;
      }

      .footerlinks2  {
        flex-direction: row;
    }

    
      li  {
        font-size: 32px;
      }

      .edli {
        font-size: 24px;
      }

      .education  {
        font-size: 32px;
        flex-direction: row;
      }

      .gradpic  {
        height: 350px;
        width: 350px;
        margin: 25px;
        border-radius: 50%;
      }

       .jobhistory {
        margin: 100px 250px 100px 250px;
      }

     .phonenumber {
       font-size: 28px;
     }

    }

    @media screen and (max-width: 768px) {
      .contactmebackground  {
        height: 100vh;
      }
      .contactmebackground:before {
        height: 100vh;
      }
    }
 